@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --button: #ff1515;
    --button-foreground: 0, 0%, 100%;

    --button-hover: #da0000;
    --button-hover-foreground: 0, 0%, 88%;
 
    --primary: #f1f3f9;
    --primary-foreground: #111827;
 
    --secondary: #f1f3f9;
    --secondary-foreground: #111827;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: #ff5500;
    --accent-foreground: #ffffff;

    --border: #c3c6c9;
    --input: #e9eaef;
    --icon: #ff1100;
 
    --radius: 0.5rem;
  }
 
  [data-theme='dark'] {
    --button: #ff1515;
    --button-foreground: 100% 100% 100%;

    --button-hover: #ff4444;
    --button-hover-foreground: 100% 80% 80%;
 
    --primary: #131619;
    --primary-foreground: #ffffff;
 
    --secondary: #21242b;
    --secondary-foreground: #c2c4cc;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: #ff712b;
    --accent-foreground: #ffffff;
 
    --border: #43464a;
    --input: #232629;
    --icon: #ff1100;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-primary text-primary-foreground;
  }
}